</head>
<body>
  <nav>
    <i class="fa-solid fa-plane-departure"></i>
    <a 
      href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >
      add flight
    </a>
    <a 
      href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>
      >
      all flights 
    </a>
  </nav>